{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
  	"no-underscore-dangle": ["error", { "allow": ["_id"] }],
  	"max-len": "off",
  	"object-curly-newline": "off",
  	"semi": ["error", "never"]
  }
}
